@media print {
  header {
    display: none; /* Hides the header */
  }
  #printButton {
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
  }

  #invoice-container {
    margin: 0 auto;
    width: 100%; /* Ensure it takes full width for printing */
  }
}
